<div class="span4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				Officers & Crew
			</div>
		</div>
		<div class="panel-body">
			<!-- this will need modified -->
			<div class="well well-small">
				Base Cost: <%= info[:base_cost] %>
			</div>
		</div>
	</div>
</div>