<div class="span8">
	<div class="panel panel-default">
		<div class="panel-heading">Hit Location Table</div>
		<div class="panel-body">
			<div class="well well-small">
				<span class="label">Scale: <%= info[:scale] %></span>
				<span class="label">Core Armor: <%= info[:core_armor] %></span>
				<br />
				Starboard Sidewall <% info[:star_sidewall].each do |wall| %><span class="badge"><%= wall %></span><% end %>
				<br />
				Port Sidewall <% info[:port_sidewall].each do |wall| %><span class="badge"><%= wall %></span><% end %>
			</div>
		</div>
	</div>
</div>