<div class="span8">
	<div class="panel panel-default">
		<div class="panel-heading">Hit Location Table</div>
		<div class="panel-body">
			<div class="well well-small">
				<span class="label">Scale: <%= info[:scale] %></span>
				<span class="label">Core Armor: <%= info[:core_armor] %></span>
				<br />
				Starboard Sidewall <%= info[:star_sidewall] %>
				<br />
				Port Sidewall <%= info[:port_sidewall] %>
			</div>
		</div>
	</div>
</div>