<div class="span4">
	<div class="panel panel-default">
		<div class="panel-heading">Range Bands</div>
		<div class="panel-body">
			<!-- this will need modified -->
			<div class="well well-small">
				<table class="table table-condensed">
					<% info[:range_bands].each do |row| %>
					<tr><% row.each do |item| %>
						<td><span class="label"><%= item %></span></td>
						<% end %>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>