<div class="span4">
	<div class="panel panel-default">
		<div class="panel-heading">Range Bands</div>
		<div class="panel-body">
			<!-- this will need modified -->
			<div class="well well-small">
				<%= info[:range_bands] %>
			</div>
		</div>
	</div>
</div>